.pagination {
    margin-top: 10px;
    text-align: center;
}

.pagination .el-pagination__total {
    line-height: 31px;
}

.divListContent{
    margin-top: 6px;
    padding:0px 0px;
}

.divListContent span{
    font-size:12px;
    line-height:24px;
    color:#646E7C;
}

.divListContent a{
    border-right: 1px solid #ddd;
    padding-right:10px;
    margin-right:10px;
}

.newsInfo{
    float: left;
    margin-bottom: 9px;
    border-width:1px;
    border-style:solid;
    border-color:rgba(224, 224, 224, 1);
    border-left:0px;
    border-top:0px;
    border-bottom:0px;
    border-radius:0px;
    height:14px;
    font-family:'MicrosoftYaHei', 'Microsoft YaHei';
    font-weight:400;
    font-size:12px;
    color:#646E7C;
    margin-right: 20px;
}

.newsEngTitle a{
    color:#047CC0;
}

.newsEngTitle{
    margin-bottom: 6px;
    height:24px;
    font-size:14px;
    color:#047CC0;
    text-align:left;
}

.newsEngTitle a:hover{
    color: #fd5e18;
}

.newsTitle{
    margin-bottom: 3px;
    height:33px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    font-size:18px;
    color:#00253E;
    text-align:left;
}
.newsTitle a:hover {
    color: #fd5e18;
}