html,body {width: 975px; min-width: 975px;}


.head{
    padding: 10px;
}

.head .tit{
    color: #00253E;
    font-size: 14px;
    font-weight: 400;
    padding:3px 0 12px 0;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
}

.head .tit .el-icon-plus{
    cursor: pointer;
}

.list{
    padding:  10px 0 10px 10px;
}

.list .tit{
    cursor: pointer;
}

.list .time {
    font-size: 13px;
    color: #999;
}
  
.list  .bottom {
    margin-top: 13px;
    line-height: 12px;
}

.list .button {
    padding: 0;
    float: right;
}

.list .image {
    width: 100%;
    height: 200px;
    display: block;
    cursor: pointer;
}

.list .el-card{
    margin:0 10px 10px 0;
    
}

.clearfix:before,.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}