html,body {width: 955px; min-width: 955px;}

.MainIndexItem{
	min-height:100px;
	height:auto;
	margin:10px 5px;
	border:1px solid #ddd;
	padding:3px;
    background: #fff;
	border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    text-align:center;
    position: relative;
}
/*.miiTitle{height:25px;background:url('bgx.png') repeat-x 0px -150px; padding:3px; font-weight:bold; color:#054C4D;}*/
.miiTitle td{height:24px; padding:4px 3px 3px 15px;}
.miiTitle_more{}
.miiTitle_btn{}
.miiTitle_btn_up{width:16px; height:16px; background:url('img/bg.png') no-repeat -18px 0px; float:left;}
.miiTitle_btn_down{width:16px; height:16px; background:url('img/bg.png') no-repeat -34px 0px; float:left;}
.miiTitle_btn_edit{width:16px; height:16px; background:url('img/bg.png') no-repeat -66px 0px; float:left;}
.miiTitle_btn_close{width:16px; height:16px; background:url('img/bg.png') no-repeat -50px 0px; float:left;}
.miiTitle_btn_up_{width:16px; height:16px; background:url('img/bg.png') no-repeat -18px -20px; float:left;}
.miiTitle_btn_down_{width:16px; height:16px; background:url('img/bg.png') no-repeat -34px -20px; float:left;}
.miiTitle_btn_edit_{width:16px; height:16px; background:url('img/bg.png') no-repeat -66px -20px; float:left;}
.miiTitle_btn_close_{width:16px; height:16px; background:url('img/bg.png') no-repeat -50px -20px; float:left;}
.miiEdit{border-bottom:1px solid #ddd;}
.miiEdit_item{padding:3px;}
.miiEdit_item .cap{width:80px;text-align:right; padding-right:3px;}
.miiContent{width:auto;padding:10px;overflow-y: auto;overflow-x: hidden;word-wrap: break-word}

.miiTemplate{background-color:#E6EFC2; border-bottom:1px solid #C6D880; }
.miiTemplate_Item{margin:5px; background-color:#FFFFFF; border:1px dotted #AACBEE;
	width:150px; text-align:center;padding:5px; cursor:move;-moz-user-select:none;
	display:inline-block !important; display:inline; 
}

.miiTab{border-bottom:1px solid #ddd;}
.miiTab td{padding:0px; padding-left:20px; padding-right:3px;}
.miiTabItem{ background-color:Transparent; float:left; height:19px !important; height:24px; padding:4px 15px 3px;}
.miiTabItemSel{ background-color:#ddd;  float:left; height:19px !important; height:24px; padding:4px 14px 3px; border-left:1px solid #ccc; border-right:1px solid #ccc; cursor:default;}

.miiResizeH{height: 2px;position: absolute; bottom: 0;width: 100%;cursor:row-resize;}


#divTemplateLayout div{width:36px; padding:3px; display:inline-block !important; display:inline; cursor:pointer;}
#divTemplateLayout table{border-collapse:collapse;height:20px; width:30px; table-layout:fixed;}
#divResizeItem{
	height:2px;background-color:transparent; float:left; text-align:center;padding:0px; position:absolute;  cursor:move;
}

#divDragItem{
	height:100px;background-color:#FFFFFF; border:1px dotted #AACBEE; float:left; text-align:center;padding:0px; position:absolute;  cursor:move;
	filter:alpha(opacity=50); -moz-opacity:0.7; opacity:0.7;
}
#divIndexItemTemp{min-height: 100px; border:1px dotted gray; padding:1px; margin:5px;}

.miiOperation{
	height:24px; border:1px dotted gray; position:absolute; background-color:#eee;
	margin-top:-28px !important; margin-top:-27px; 
	margin-left:-4px !important; margin-left:-4px;
	filter:alpha(opacity=90); -moz-opacity:0.9; opacity:0.9;
}

#divDragItem .miiOperation{margin-left:0px !important; margin-left:0px;}


.Grid{width:95%;border-color:#ddd;table-layout: fixed;border-collapse:collapse;}
.Grid td{width:auto;height:40px;line-height:40px;padding:0 14px;border:1px solid #dfe6ec;text-align:center;white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.GridHead{width:auto;height:40px;line-height:40px;padding:0 14px;background:#eef1f6;border:none;}