<div id="save" class="main">
	<el-dialog title="新增网址组" 
                   :visible.sync="dialogVisible">
            <el-form :model="saveModel"
                     :rules="saveRules"
                     ref="saveModel"
                     label-width="100px"
                      >
                <el-form-item label="名称" prop="websiteGroupName">
                	<el-select v-model="saveModel.websiteGroupName" placeholder="请选择爬虫模板">
                        <el-option :label="app.spiderName" :value="app.spiderName" v-for="app in appList"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="说明" prop="catalogRemark">
                    <el-input type="textarea" :rows="2" v-model="saveModel.websiteGroupRemark" placeholder="请输入说明(长度：1-64)"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="saveSubmit" size="small">确定</el-button>
                    <el-button @click="saveReset" size="small">重置</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
</div>

<!-- 本页面js -->
<script src="/business/ct/CtWebsiteGroup/js/CtWebsiteGroupSave.js"></script>