<div id="update" class="main">
	<el-dialog title="修改说明" :visible.sync="dialogVisible">
        <el-form :model="updateModel" :rules="updateRules" ref="updateModel" label-width="120px"  >
            <el-row>
	            <el-form-item label="要素名称" prop="elementName">
	                <el-input v-model="updateModel.elementName" :disabled="true"></el-input>
	            </el-form-item>
            </el-row>
            <el-row>
            	<el-form-item label="要素分类" prop="name">
                	<el-input v-model="updateModel.name" :disabled="true" ></el-input>
            	</el-form-item>
            </el-row>
            <el-row>
            	<el-form-item label="要素说明" prop="elementRemark">
                	<el-input v-model="updateModel.elementRemark" placeholder="请输入要素说明(长度：1-400)" type="textarea" :rows="2"></el-input>
            	</el-form-item>
            </el-row>
            <el-row style="text-align:center">
                <el-button type="primary" @click="updateSubmit" size="small">确定</el-button>
                <el-button @click="updateCancel" size="small">取消</el-button>
            </el-row>
        </el-form>
     </el-dialog>
</div>

<!-- 本页面js -->
<script src="/business/pm/PmElement/js/PmElementUpdate.js"></script>