<!DOCTYPE html>
<html>
<head>
	<!-- 公用方法 -->
	<script src="/frame/jquery/jquery.min.js"></script>
	<script src="/frame/awaken/awaken.init.js"></script>
	<script src="/frame/awaken/awaken.util.js"></script>
	<script>
		//初始化头部
		initHeadConfig();
	</script>
</head>
<body>
	 <div id="main" class="main">
		           <el-form :inline="true" :model="tableSearchModel" ref="tableSearchModel"> 
		           <el-row>
		           	<el-form-item label="名称" prop="dbMetadataName"> 
		           	<el-input v-model="tableSearchModel.dbMetadataName" placeholder="请输入元数据名称" size="small"></el-input> 
		           </el-form-item>
		           <el-form-item label="类型" prop="dbMetadataType"> 
                    <el-select v-model="tableSearchModel.dbMetadataType"   placeholder="元数据类型" >
					    <el-option
					        v-for="item in dbMetadataTypes"
					        :key="item.key"
					        :label="item.label"
					        :value="item.value">
					    </el-option>
                    </el-select>
                     </el-form-item>
                     <el-form-item label="采集方式" prop="ctWay"> 
                    <el-select v-model="tableSearchModel.ctWay"   placeholder="采集方式" >
					    <el-option
					        v-for="item in ctWays"
					        :key="item.key"
					        :label="item.label"
					        :value="item.value">
					    </el-option>
                    </el-select>
                     </el-form-item>
                      <el-form-item> 
		           	<el-button type="primary" @click="searchClick" size="small" name="per_ct_dbdata_show">查 询</el-button> 
		           	<el-button type="default" @click="tableResetCondition" size="small">重 置</el-button> 
		           	</el-form-item>
		           </el-row> 
		           <el-row> 
		           <el-form-item> 
		           	<el-button type="primary" @click="addClick"  icon="plus" size="small" name="per_ct_dbdata_add">新 增</el-button> 
		           	<el-button type="primary" @click="updateClick" icon="edit" size="small" name="per_ct_dbdata_edit">修改</el-button> 
		           	<el-button type="primary" @click="delClick" icon="delete" size="small" name="per_ct_dbdata_del">删 除</el-button> 
		           </el-form-item> 
		           </el-row>
		           </el-form> 
		           <el-table id="tableId" height=100% :data="tableData" @sort-change="tableSortChange" @selection-change="tableChange" ref="mytable" stripe border> 
		           <el-table-column type="selection" align="center" width="45">
		           </el-table-column> <el-table-column prop="db_metadata_name" label="元数据名称" sortable>
		           </el-table-column> <el-table-column prop="database_id" label="数据库名称" width="200"> 
		           </el-table-column> <el-table-column prop="db_metadata_type" label="类型" width="120">
		           </el-table-column> <el-table-column prop="ct_way" label="采集项方式" width="120">
		           </el-table-column> <el-table-column prop="data_item_count" label="数据项总数" width="120">
		           </el-table-column> <el-table-column prop="create_time" label="创建时间" width="180"> </el-table-column> 
		           </el-table>
		           <el-pagination class="pagination" :current-page="tableSearchModel.currentPage" :total="tableTotal"  @size-change="tableSizeChange" :page-size="tableSearchModel.pageSize"  @current-change="tableCurrentChange" layout="total, sizes, prev, pager, next, jumper"> 
		           </el-pagination>
    </div>
    
	<!-- 本页面js -->
	<script src="/business/ct/CtDbMetadata/js/CtDbMetadataMain.js"></script>
</body>
</html>