<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>系统参数</title>
	<!-- 公用方法 -->
	<script src="/frame/jquery/jquery.min.js"></script>
	<script src="/frame/awaken/awaken.init.js"></script>
	<script src="/frame/awaken/awaken.util.js"></script>
	<script>
		//初始化头部
		initHeadConfig();
	</script>
</head>
<body>
	 <div id="main" class="main">
        <el-form :inline="true"
                  :model="tableSearchModel"
                  ref="tableSearchModel">
           	 <el-row>
           	   <el-form-item label="参数代码" prop="paramKey">
                   <el-input v-model="tableSearchModel.paramKey" placeholder="请输入参数代码" size="small"></el-input>
               </el-form-item>
  				<el-form-item label="参数名称" prop="paramName">
                   <el-input v-model="tableSearchModel.paramName" placeholder="请输入参数名称" size="small"></el-input>
               </el-form-item>
        
                <el-form-item>
                    <el-button type="primary" @click="onSearch" size="small" size="small" name="per_sys_param_show">查 询</el-button>
                    <el-button type="default" @click="tableResetCondition" size="small" size="small">重 置</el-button>
                </el-form-item>
            </el-row>
              <el-row>
                  <el-form-item>
                      <el-button type="primary" @click="addClick" icon="plus" size="small" name="per_sys_param_add">新 增</el-button>
                      <el-button type="primary" @click="delClick" icon="delete" size="small" name="per_sys_param_del">删 除</el-button>
                  </el-form-item>
              </el-row>
			</el-form>
                <el-table :data="tableData"
                          @sort-change="tableSortChange"
                          @selection-change="tableChange"
                          ref="mytable" stripe
                          border id="tableId" height=100% >
		              <el-table-column type="selection"
						               align="center"
						               width="45">
		              </el-table-column>
 
                    <el-table-column prop="paramKey"
                                     label="参数代码" sortable="custom" width="200" show-overflow-tooltip>
                    </el-table-column>
                   
                   <el-table-column prop="paramName"
                                     label="参数名称"  show-overflow-tooltip min-width="120">
                    </el-table-column>
                   <el-table-column prop="paramValue"
                                     label="参数值"   show-overflow-tooltip min-width="120">
                    </el-table-column>
           			<el-table-column prop="descp"
                                     label="描述"   show-overflow-tooltip >
                    </el-table-column>
                    
                    <el-table-column prop="createTime" sortable="custom"
                                     label="创建时间" :formatter="formatDate"
                                     width="180">
                    </el-table-column>
  
                    <el-table-column label="操作"
	                             align="center"
	                             width="100">
	                	<template scope="scope">
	                    	<el-button size="small"
	                               @click="handleEdit(scope.$index, scope.row)" name="per_sys_param_edit">编辑</el-button>
	               	 	</template>
	            	</el-table-column> 
                </el-table>


                <el-pagination class="pagination"
                               :current-page="tableSearchModel.currentPage"
                               :page-size= "tableSearchModel.pageSize"
                               :total="tableTotal"
                               @size-change="tableSizeChange"
                               @current-change="tableCurrentChange"
                               layout="total, sizes, prev, pager, next, jumper">
                </el-pagination>
            </el-col>
        </el-row>
    </div>
    
	<!-- 本页面js -->
	<script src="/business/sys/SysParameter/js/SysParameterMain.js"></script>
</body>
</html>