<div id="detail" class="main">
    <el-dialog :visible.sync="dialogVisible" title="国家详细信息">
        <el-tabs :active-name="activeName" @tab-click="tabClick">
            <el-tab-pane label="基本信息" name="basic">
                <el-row v-if="countryInfo">
                    <el-form :model="countryInfo" label-width="100px" class="form">
                        <el-row>
                            <el-form-item label="所属洲：" prop="CONTINENT_NAME">
                                <span>{{ countryInfo.CONTINENT_NAME }}</span>
                            </el-form-item>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="中文名：" prop="CHINESE_NAME">
                                    <span>{{ countryInfo.CHINESE_NAME }}</span>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="英文名：" prop="ENGLISH_NAME">
                                    <span>{{ countryInfo.ENGLISH_NAME }}</span>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="两位缩写：" prop="ISO2CODE">
                                    <span>{{ countryInfo.ISO2CODE }}</span>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="三位缩写：" prop="ISOCODE">
                                    <span>{{ countryInfo.ISOCODE }}</span>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-form-item label="国旗：">
                                <!--<span>{{ countryInfo.resourcesRemark }}</span>-->
                            </el-form-item>
                        </el-row>
                    </el-form>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="概况信息" name="survey">
                <el-table id="tableId" height=100% :data="tableData" @sort-change="tableSortChange" @selection-change="tableChange"
                          ref="mytable" stripe border style="margin-top: 10px">
                    <el-table-column label="字段" prop="FIELD_NAME" min-width="20%"></el-table-column>
                    <el-table-column label="内容" prop="FIELD_VALUE"></el-table-column>
                </el-table>
            </el-tab-pane>
            <el-tab-pane label="外交信息" name="situation">
                <!--<el-row v-if="countryInfo">-->
                <!--<el-form :model="countryInfo" label-width="100px" class="form">-->
                <!--<el-row>-->
                <!--<el-form-item label="所属洲：" prop="CONTINENT_NAME">-->
                <!--<span>{{ countryInfo.CONTINENT_NAME }}</span>-->
                <!--</el-form-item>-->
                <!--</el-row>-->
                <!--<el-row>-->
                <!--<el-form-item label="中文名：" prop="CHINESE_NAME">-->
                <!--<span>{{ countryInfo.CHINESE_NAME }}</span>-->
                <!--</el-form-item>-->
                <!--</el-row>-->
                <!--</el-form>-->
                <!--</el-row>-->
            </el-tab-pane>
        </el-tabs>
    </el-dialog>
</div>

<!-- 本页面js -->
<script src="/business/iis/IisCountryInfo/js/IisCountryInfoDetail.js"></script>
<!-- 本页面css -->
<link href="/business/iis/IisCountryInfo/css/IisCountryInfoDetail.css" rel="stylesheet"/>