<!DOCTYPE html>
<html>
<head>
    <!-- 公用方法 -->
    <script src="/frame/jquery/jquery.min.js"></script>
    <script src="/frame/awaken/awaken.init.js"></script>
    <script src="/frame/awaken/awaken.util.js"></script>
    <script>
        //初始化头部
        initHeadConfig();
    </script>
</head>
<body>
<div id="main" class="main">
    <el-tabs>
        <el-tab-pane label="基本信息" name="basic">
            <el-row v-if="countryInfo">
                <el-form :model="countryInfo" label-width="100px" class="form">
                    <el-row>
                        <el-form-item label="所属洲：" prop="CONTINENT_NAME">
                            <span>{{ countryInfo.CONTINENT_NAME }}</span>
                        </el-form-item>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item label="中文名：" prop="CHINESE_NAME">
                                <span>{{ countryInfo.CHINESE_NAME }}</span>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="英文名：" prop="ENGLISH_NAME">
                                <span>{{ countryInfo.ENGLISH_NAME }}</span>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-form-item label="两位缩写：" prop="ISO2CODE">
                                <span>{{ countryInfo.ISO2CODE }}</span>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="三位缩写：" prop="ISOCODE">
                                <span>{{ countryInfo.ISOCODE }}</span>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-form-item label="国旗：">
                            <!--<span>{{ countryInfo.resourcesRemark }}</span>-->
                        </el-form-item>
                    </el-row>
                </el-form>
            </el-row>
        </el-tab-pane>
        <el-tab-pane label="概况信息" name="survey">
            <el-table>
                <el-table-colunm label="字段" prop="FIELD_NAME"></el-table-colunm>
                <el-table-colunm label="内容" prop="FIELD_VALUE"></el-table-colunm>
            </el-table>
        </el-tab-pane>
        <el-tab-pane label="外交信息" name="situation">
            <!--<el-row v-if="countryInfo">-->
                <!--<el-form :model="countryInfo" label-width="100px" class="form">-->
                    <!--<el-row>-->
                        <!--<el-form-item label="所属洲：" prop="CONTINENT_NAME">-->
                            <!--<span>{{ countryInfo.CONTINENT_NAME }}</span>-->
                        <!--</el-form-item>-->
                    <!--</el-row>-->
                    <!--<el-row>-->
                        <!--<el-form-item label="中文名：" prop="CHINESE_NAME">-->
                            <!--<span>{{ countryInfo.CHINESE_NAME }}</span>-->
                        <!--</el-form-item>-->
                    <!--</el-row>-->
                <!--</el-form>-->
            <!--</el-row>-->
        </el-tab-pane>
    </el-tabs>
</div>

<!-- 本页面js -->
<script src="/business/iis/IisCountryInfo/js/IisCountryInfoDetail.js"></script>
<!-- 本页面css -->
<link href="/business/iis/IisCountryInfo/css/IisCountryInfoDetail.css" rel="stylesheet"/>
</body>
</html>