<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div id="showCatalog" class="main">
	<el-dialog title="选择目录器" :visible.sync="dialogVisible">
		<el-row>
	        <template>
				<el-transfer v-model="showCatalogModel" :data="showCatalogData" :titles="['未选择目录','已选择目录']"></el-transfer>
			</template>
		<el-row>
		<!-- 按扭区 -->
        <el-row style="margin-top:10px;text-align:center;">
        	<el-button type="primary" @click="showCatalogSubmit">确定</el-button>
            <el-button @click="showCatalogCancel">取消</el-button>
        </el-row>
     </el-dialog>
</div>

<!-- 本页面js -->
<script src="/common/js/ImCatalogTransfer.js"></script>