<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>新闻详情</title>
    <link href="/frame/elementui/elementui.css" rel="stylesheet"/>
    <link href="/frame/jqcloud/jqcloud.css" rel="stylesheet"/>
    <link href="/common/css/reset.css" rel="stylesheet"/>
    <link href="/common/css/com.css" rel="stylesheet"/>
    <link href="/business/user/news/css/NewsDetail.css" rel="stylesheet" />
</head>
<body>

<!---------------网页头部start----------------->
<div id="header" class="header"></div>
<!---------------网页头部end------------------->

<!---------------网页工具栏(如有)start----------
<div id="toolbar" class="toolbar"></div>
!---------------网页工具栏索(如有)end----------->

<!---------------网页主体start----------------->
<div id="main" class="main  clearfix">
    <el-row v-if="onlyChinese" :gutter="30">
        <el-col :span="16">
            <div class="row clearfix">
                <div class="row-l">
                    <div class="title">速递详情</div>
                    <!--startprint-->
                    <div class="content category" style="min-height: 600px;">
                        <div class="newsTitle">【{{news.COUNTRY_CHN_NAME}}】{{news.TITLE}}</div>
                        <div class="divListContent">
                            <span>来源：<a>{{news.SOURCE}}</a></span>
                            <span>国家：<a>{{news.COUNTRY_CHN_NAME}}</a></span>
                            <span>类型：<a>{{news.TYPE}}</a></span>
                            <span><a>{{news.RELEASE_TIME}}</a></span>
                            <div style="float: right;">
                                <span v-if ="!isFavorite"><a><el-button @click="addFavorite" type="text" size="mini">收藏</el-button></a></span>
                                <span v-else ><a><el-button @click="cancelFavorite" type="text" size="mini">取消收藏</el-button></a></span>
                                <span><a><el-button @click="print" type="text" size="mini">打印</el-button></a></span>
                                <span><a>分享</a></span>
                                <span><a><el-button type="text" size="mini">取消跟踪</el-button></a></span>
                            </div>
                        </div>
                        <div class="sp"></div>
                        <div class="content">
                            {{news.CONTENT}}
                        </div>
                    </div>
                    <!--endprint-->
                </div>
            </div>
        </el-col>
        <el-col :span="8">
            <el-row>
                <div class="row clearfix">
                    <div class="row-l">
                        <div class="title">速递信息</div>
                        <div class="content category" style="min-height: 163px;">
                            <div class="sudiInfo"><span>来源：</span><a>{{news.SOURCE}}</a></div>
                            <div class="sudiInfo"><span>国家：</span><a>{{news.COUNTRY_CHN_NAME}}</a></div>
                            <div class="sudiInfo"><span>类型：</span><a>{{news.TYPE}}</a></div>
                        </div>
                    </div>
                </div>
            </el-row>
            <el-row style="margin-top: -9px;">
                <div class="row clearfix">
                    <div class="row-l">
                        <div class="title">关联文档</div>
                        <div class="content category" style="min-height: 163px;">
                            // 关联文档
                        </div>
                    </div>
                </div>
            </el-row>
        </el-col>
    </el-row>

    <el-row v-else :gutter="30">
        <!-- 显示原文内容 -->
        <el-col :span="12">
            <div class="row clearfix">
                <div class="row-l">
                    <div class="title">Global > {{news.COUNTRY_ENG_NAME}}</div>
                    <!--startprint-->
                    <div class="content category" style="min-height: 600px;">
                        <div class="newsTitle">【{{news.COUNTRY_ENG_NAME}}】{{news.TITLE}}</div>
                        <div class="divListContent">
                            <span>Source：<a>{{news.SOURCE}}</a></span>
                            <span>Country：<a>{{news.COUNTRY_ENG_NAME}}</a></span>
                            <span>Type：<a>{{news.TYPE}}</a></span>
                            <span><a>{{news.RELEASE_TIME}}</a></span>
                        </div>
                        <div class="sp"></div>
                        <div class="content">
                            {{news.CONTENT}}
                        </div>
                    </div>
                    <!--endprint-->
                </div>
            </div>
        </el-col>
        <!-- 显示英文内容 -->
        <el-col v-if="chooseEng" :span="12">
            <div class="row clearfix">
                <div class="row-l">
                    <div class="title">Global > {{news.COUNTRY_ENG_NAME}}
                        <div style="float: right;">
                            <el-button type="primary" size="small">追踪</el-button>
                            <el-popover
                                    ref="popover"
                                    placement="bottom"
                                    trigger="hover">
                                <el-row>
                                <el-button type="primary" size="small" @click="turnToChinese">转中文</el-button>
                                </el-row>
                                <el-row style="margin-top: 3px;">
                                <el-button type="primary" size="small" @click="turnToEnglish">转英文</el-button>
                                </el-row>
                            </el-popover>
                            <el-button type="primary" size="small" v-popover:popover >翻译</el-button>
                        </div>
                    </div>

                    <!--startprint-->
                    <div class="content category" style="min-height: 600px;">
                        <div class="newsTitle">【{{news.COUNTRY_ENG_NAME}}】{{news.TITLE_EN}}</div>
                        <div class="divListContent">
                            <span>Source：<a>{{news.SOURCE}}</a></span>
                            <span>Country：<a>{{news.COUNTRY_ENG_NAME}}</a></span>
                            <span>Type：<a>{{news.TYPE}}</a></span>
                            <span><a>{{news.RELEASE_TIME}}</a></span>
                        </div>
                        <div class="sp"></div>
                        <div class="content">
                            {{news.CONTENT_EN}}
                        </div>
                    </div>
                    <!--endprint-->
                </div>
            </div>
        </el-col>
        <!-- 显示中文内容 -->
        <el-col v-else :span="12">
            <div class="row clearfix">
                <div class="row-l">
                    <div class="title">全球 > {{news.COUNTRY_CHN_NAME}}
                        <div style="float: right;">
                            <el-button type="primary" size="small">修正</el-button>
                            <el-button type="primary" size="small">追踪</el-button>
                            <el-popover
                                    ref="popover"
                                    placement="bottom"
                                    trigger="hover">
                                <el-row>
                                    <el-button type="primary" size="small" @click="turnToChinese">转中文</el-button>
                                </el-row>
                                <el-row style="margin-top: 3px;">
                                    <el-button type="primary" size="small" @click="turnToEnglish">转英文</el-button>
                                </el-row>
                            </el-popover>
                            <el-button type="primary" size="small" v-popover:popover >翻译</el-button>
                        </div>
                    </div>
                    <!--startprint-->
                    <div class="content category" style="min-height: 600px;">
                        <div class="newsTitle">【{{news.COUNTRY_CHN_NAME}}】{{news.TITLE_CN}}</div>
                        <div class="divListContent">
                            <span>来源：<a>{{news.SOURCE}}</a></span>
                            <span>国家：<a>{{news.COUNTRY_CHN_NAME}}</a></span>
                            <span>类型：<a>{{news.TYPE}}</a></span>
                            <span><a>{{news.RELEASE_TIME}}</a></span>
                        </div>
                        <div class="sp"></div>
                        <div class="content">
                            {{news.CONTENT_CN}}
                        </div>
                    </div>
                    <!--endprint-->
                </div>
            </div>
        </el-col>
    </el-row>

</div>
<!---------------网页主体end------------------->

<!---------------网页底部start----------------->
<div id="footer" class="footer"></div>
<!---------------网页底部end------------------->

</body>
</html>
<script src="/frame/jquery/jquery.min.js"></script>
<script src="/frame/vue/vue.min.js"></script>
<script src="/frame/elementui/elementui.js"></script>
<script src="/frame/awaken/awaken.core.js"></script>
<script src="/frame/awaken/awaken.table.js"></script>
<script src="/frame/awaken/awaken.tree.js"></script>
<script src="/frame/awaken/awaken.dialog.js"></script>
<script src="/frame/awaken/awaken.common.js"></script>
<script src="/frame/awaken/awaken.util.js"></script>
<script src="/common/js/com.js"></script>
<script src="/common/js/common.js"></script>
<script src="/business/user/news/js/NewsDetail.js"></script>