<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div id="update" class="main">
	<el-dialog title="修改密码" 
                   :visible.sync="dialogVisible">
            <el-form :model="updateModel"
                     :rules="updateRules"
                     ref="updateModel"
                     label-width="100px"
                      >
                     
			    <el-form-item label="旧密码" prop="oldPwd">
                    <el-input type="password" v-model="updateModel.oldPwd" placeholder="请输入旧密码" size="small"></el-input>
                </el-form-item>
                <el-form-item label="新密码" prop="newPwd">
                    <el-input type="password" v-model="updateModel.newPwd" placeholder="请输入新密码（长度：1-32）" size="small"></el-input>
                </el-form-item>
                <el-form-item label="新密码确认" prop="affirmPwd">
                    <el-input type="password" v-model="updateModel.affirmPwd" placeholder="请输入新密码（长度：1-32）" size="small"></el-input>
                </el-form-item>
 
                <el-form-item align="center">
                    <el-button type="primary" @click="updateSubmit" size="small">确定</el-button>
                    <el-button @click="updateCancel" size="small">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
</div>

<!-- 本页面js -->
<script src="/common/js/SysUserPassword.js"></script>