<!DOCTYPE html>
<html>
<head>
<!-- 公用方法 -->
<script src="/frame/jquery/jquery.min.js"></script>
<script src="/frame/awaken/awaken.init.js"></script>
<script>
	//初始化头部
	initHeadConfig();
</script>
</head>
<body>
	<div id="main" class="main">
		<el-row :gutter="20">
			<!-- 采集对象table -->
			<el-col :span="8">
				<!-- 查询条件 -->
				<el-form :inline="true" :model="ctTableSearchModel" ref="ctTableSearchModel">
                    <el-row>
                       <el-form-item label="采集对象名称" prop="ctObjectName">
                            <el-input v-model="ctTableSearchModel.ctObjectName" placeholder="请输入采集对象名称"></el-input>
                        </el-form-item>
                    </el-row>
                    <el-row>
                   		<el-form-item label="采集渠道" prop="ctChannel">
		                    <el-select v-model="ctTableSearchModel.ctChannel" placeholder="请选择" clearable size=10>
			                    <el-option :key="rs.key" :label="rs.label" :value="rs.value" v-for="rs in ctChannelList" @change="test"></el-option>
			                </el-select>
		                </el-form-item>
                     	<el-form-item>
                            <el-button type="primary" @click="ctSearchClick" size="small">查 询</el-button>
                            <el-button type="default" @click="ctTableResetCondition" size="small">重 置</el-button>
                        </el-form-item>
                    </el-row>
                </el-form>

				<!-- 采集table -->
                <el-table :data="ctTableData" @current-change="ctTableChange" ref="mytable" stripe highlight-current-row border>
                    <el-table-column prop="ct_object_name" label="采集对象名称"></el-table-column>
                    <el-table-column prop="ct_channel" label="采集渠道" width="100"></el-table-column>
                </el-table>
			</el-col>
			<!-- 对照分类树 -->
			<el-col :span="4">
				<div class="treeHead"><span>标准分类</span></div>
				<el-tree node-key="id" ref="tree" :data="treeData" :props="treeProps" :expand-on-click-node="false" :highlight-current="true"
					:default-expand-all="true" @node-click="treeNodeClick"></el-tree>
			</el-col>
			<!-- 对照对象table -->
			<el-col :span="12">
			
				<!-- 查询条件 -->
				<el-form :inline="true" :model="tableSearchModel" ref="tableSearchModel">
                    <el-row>
                       <el-form-item label="源名称" prop="sourceName">
                            <el-input v-model="tableSearchModel.sourceName" placeholder="请输入源名称"></el-input>
                        </el-form-item>
                       <el-form-item label="标准名称" prop="standardName">
                            <el-input v-model="tableSearchModel.standardName" placeholder="请输入标准名称"></el-input>
                        </el-form-item>
                    </el-row>
                    <el-row>
                   		<el-form-item label="源编码" prop="sourceCode">
                            <el-input v-model="tableSearchModel.sourceCode" placeholder="请输入源编码" size=10></el-input>
                        </el-form-item>
                         <el-form-item label="标准编码" prop="standardCode">
                            <el-input v-model="tableSearchModel.standardCode" placeholder="请输入标准编码" size=10></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="searchClick" size="small" name="per_pm_contrast_show">查 询</el-button>
                            <el-button type="default" @click="tableResetCondition" size="small">重 置</el-button>
                        </el-form-item>
                    </el-row>
                    <el-row>
                        <el-form-item>
                            <el-button type="primary" @click="addTypeClick"  icon="plus" size="small" name="per_pm_contrast_addType">新增分类</el-button>
                            <!-- <el-button type="warning" @click="updateTypeClick">修改标准分类</el-button>-->
                            <el-button type="primary" @click="delTypeClick"  icon="delete" size="small" name="per_pm_contrast_delType">删除分类</el-button>
                            <el-button type="primary" @click="addClick"  icon="plus" size="small" name="per_pm_contrast_add">新 增</el-button>
                            <el-button type="primary" @click="updateClick" icon="edit" size="small" name="per_pm_contrast_edit">修改</el-button>
                            <el-button type="primary" @click="delClick"  icon="delete" size="small" name="per_pm_contrast_del">删 除</el-button>
                        </el-form-item>
                    </el-row>
                </el-form>

				<!-- 表格 -->
                <el-table :data="tableData" id="tableId" height=100% @sort-change="tableSortChange" @selection-change="tableChange" ref="mytable" stripe border>
                    <el-table-column type="selection" align="center" width="45"></el-table-column>
                    <el-table-column prop="source_code" label="源编码" sortable="custom"></el-table-column>
                    <el-table-column prop="source_name" label="源名称" sortable="custom" width="180"></el-table-column>
                    <el-table-column prop="standard_code" label="标准编码" sortable="custom" width="120" ></el-table-column>
                    <el-table-column prop="standard_name" label="标准名称" sortable="custom" width="180"></el-table-column>
                </el-table>

				<!-- 分页 -->
                <el-pagination class="pagination" :current-page="tableSearchModel.currentPage" :total="tableTotal"  @size-change="tableSizeChange" :page-size="tableSearchModel.pageSize" 
                	@current-change="tableCurrentChange" layout="total, sizes, prev, pager, next, jumper">
                </el-pagination>
			</el-col>
		 </el-row>
	</div>
	
	<!-- 本页面js -->
	<script src="/business/pm/PmContrast/js/PmContrastMain.js"></script>
</body>
</html>