<div id="update" class="main">
	<el-dialog title="配置目录" :visible.sync="dialogVisible">
        <el-form :model="updateModel" :rules="updateRules" ref="updateModel" label-width="120px"  >
            <el-row>
	            <el-form-item label="选中条数" prop="count">
	                <el-input v-model="updateModel.count" :disabled="true"></el-input>
	            </el-form-item>
            </el-row>
            <el-row>
                <el-form-item label="目录名称" prop="catalogName">
                    <el-input v-model="updateModel.catalogName" placeholder="请选择" icon="search" :on-icon-click="changeClick" :disabled="true"></el-input>
                </el-form-item>
            </el-row>
            <el-form-item>
                <el-button type="primary" @click="updateSubmit" size="small">确定</el-button>
                <el-button @click="updateCancel" size="small">取消</el-button>
            </el-form-item>
        </el-form>
     </el-dialog>
</div>

<!-- 本页面js -->
<script src="/business/dm/DmCatalogObject/js/DmCatalogObjectUpdate.js"></script>