<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div id="update" class="main">
	<el-dialog title="修改资源" 
                   :visible.sync="dialogVisible">
            <el-form :model="updateModel"
                     :rules="updateRules"
                     ref="updateModel"
                     label-width="100px"
                      >
     
            <!--     <el-form-item label="上级资源" prop="parentName">
                    <el-input v-model="parentName" :disabled="true"></el-input>
                </el-form-item>
                 -->
                <el-form-item label="资源名称" prop="name">
                    <el-input v-model="updateModel.name" placeholder="请输入资源名称" size="small"></el-input>
                </el-form-item>
                
                <el-form-item label="授权编码" prop="sn">
                    <el-input v-model="updateModel.sn" placeholder="请输入授权编码" size="small"></el-input>
                </el-form-item>
                
                 <el-form-item label="顺序" prop="priority">
                    <el-input-number v-model="updateModel.priority"   :min="1" :max="100" size="small"></el-input-number>
                </el-form-item>
     
                <el-form-item label="URL" prop="url">
                    <el-input v-model="updateModel.url" placeholder="请输入URL" size="small"></el-input>
                </el-form-item>
                
                <el-form-item label="样式名称" prop="className">
                    <el-input v-model="updateModel.className" placeholder="请输入样式名称" size="small"></el-input>
                </el-form-item>
                
                <el-form-item label="图标名称" prop="iconName">
                    <el-input v-model="updateModel.iconName" placeholder="请输入图标名称" size="small"></el-input>
                </el-form-item>
                
                <el-form-item align="center">
                    <el-button type="primary" @click="updateSubmit" size="small">确定</el-button>
                    <el-button @click="updateCancel" size="small">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
</div>

<!-- 本页面js -->
<script src="/business/sys/SysResourceManage/js/SysResourceManageUpdate.js"></script>