<style>
#add_org_html .el-dialog__body {
    padding: 10px 20px;
    color: #48576a;
    font-size: 14px;
}

#add_org_html .el-dialog{
	top:15% !important;
	height:70%;
	overflow:auto;
}

#add_org_html .el-form-item{
	float: left;
}
</style>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div id="save" class="main">
	<el-dialog title="新增公告" 
                   :visible.sync="dialogVisible">
            <el-form :model="saveModule"
                     :rules="saveRules"
                     ref="saveModule"
                     label-width="100px" >
                
                <el-form-item label="公告标题" prop="title">
                    <el-input v-model="saveModule.title" placeholder="请输入公告标题"></el-input>
                </el-form-item>
                
                <el-form-item label="生失效时间" prop="effectiveAndFailure">
                    <el-date-picker v-model="effectiveAndFailure" type="datetimerange" :picker-options="pickerOptions"
				      placeholder="选择时间范围" align="right"  format="yyyy-MM-dd HH:mm:ss" >
				    </el-date-picker>
                </el-form-item>
 
          	   <el-form-item label="" prop="">
         			<iframe id="keIframe" frameborder=0 width="100%" height=270 marginheight=0 marginwidth=0 scrolling=no src="forward.do?viewPath=business/sys/SysNotice/SysNoticeEditerFrame.html">
		    		</iframe>
         		</el-form-item>
         		
         	    <el-form-item label="是否置顶" prop="isTop">
	                <el-switch v-model="saveModule.isTop"  width="70"
				      on-text="置顶" off-text="不置顶"
					  on-value="1" off-value="0" size="small"> 
					</el-switch>
         		</el-form-item>
         		
         		<el-form-item label="状态" prop="state">
	                <el-switch v-model="saveModule.state"  width="70"
				      on-text="立即发送" off-text="待发送"
					  on-value="1" off-value="0" size="small"> 
					</el-switch>
         		</el-form-item>
      
               <el-form-item style="text-align:center">
                    <el-button type="primary" @click="submit" size="small">确定</el-button>
                    <el-button @click="reset" size="small">重置</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
</div>
<script src="/business/sys/SysNotice/js/SysNoticeSave.js"></script>

