<div id="update" class="main">
	<el-dialog title="修改数据库" 
                   :visible.sync="dialogVisible">
            <el-form :model="updateModel"
                     :rules="updateRules"
                     ref="updateModel"
                     label-width="100px"
                      >
                <el-form-item label="名称" prop="databaseName">
                    <el-input v-model="updateModel.databaseName" placeholder="请输入名称(长度：1-32)"></el-input>
                </el-form-item>
               <el-form-item label="类型" prop="databaseType"> 
		           	<el-select v-model="updateModel.databaseType" placeholder="数据库类型">
                        <el-option label="MySQL" value="005001"></el-option>
                        <el-option label="Oracle" value="005002"></el-option>
                    </el-select>
		          </el-form-item>
		        <el-form-item label="用户名" prop="databaseUsername">
                    <el-input v-model="updateModel.databaseUsername" placeholder="请输入数据库用户名"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop=databasePassword>
                	<el-input v-model="updateModel.databasePassword" placeholder="请输入数据库密码"></el-input>
                </el-form-item>
                <el-form-item label="URL" prop="databaseUrl">
                	<el-input v-model="updateModel.databaseUrl" placeholder="请输入数据库链接地址"></el-input>
                </el-form-item>
                <el-form-item label="说明" prop="databaseRemark">
                    <el-input type="textarea" :rows="2" v-model="updateModel.databaseRemark" placeholder="请输入说明(长度：1-64)"></el-input>
                </el-form-item>
                 <el-form-item label="是否启用" prop="isEnable">
	                <el-radio-group  v-model="updateModel.isEnable">
					  <el-radio class="radio" label="1">是</el-radio>
					  <el-radio class="radio" label="0">否</el-radio>
					</el-radio-group>
					<template scope="scope">
	                        <el-switch v-model="updateModel.isEnable"
	                        on-text="启用" off-text="禁用"
	                        on-value="1" off-value="0"></el-switch>
		             </template>
				</el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="updateSubmit" size="small">确定</el-button>
                    <el-button @click="updateCancel" size="small">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
</div>

<!-- 本页面js -->
<script src="/business/ct/CtDatabase/js/CtDatabaseUpdate.js"></script>