#divMenuTop{
	height:40px;
	line-height: 40px;
    border-right: 1px solid #e0e0e0;
}

.divMenuText{
	float:left;
	padding-left:20px;
	font-weight:bold;
	color:#4db3ff;
}

.divMenuOpt{
	float:right;
	color:#4db3ff;
	cursor:pointer;
	width:39px;
}

