.main_div{
	width: 780px;
}
.home_span{
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
}
.contry_div{
	padding-top: 10px;
	float: left;
	height: 100%;
	width: 100%;
}
.contry_span{
	font-size: 36px;
	font-weight: 400;
	margin-left: 10px;
}
.national_flag_img{
	width: 100px;
	height: 70px;
	float: right;
	padding-right: 10px
}
.separate_img{
	width: auto;  
    height: auto;
    max-height: 100%;
    max-width: 100%;  
}
.update_time{
	font-size: 12px;
}
.info_div{
	height: 1000px;
	overflow:auto
}