<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div id="update" class="main">
	<el-dialog title="修改应用" 
                   :visible.sync="dialogVisible">
            <el-form :model="updateModel"
                     :rules="updateRules"
                     ref="updateModel"
                     label-width="100px" >

                <el-form-item label="应用名称" prop="appName">
                	<el-input v-model="updateModel.appName" placeholder="请输入应用名称(长度：1-64)"></el-input>
                </el-form-item>
                <el-form-item label="帐号" prop="account">
                    <el-input v-model="updateModel.account" placeholder="请输入帐号(长度：1-64)"></el-input>
                </el-form-item>
                <el-form-item label="密钥" prop="secretKey">
                    <el-input v-model="updateModel.secretKey" placeholder="请输入密钥(长度：1-64)"></el-input>
                </el-form-item>
                <el-form-item label="应用状态" prop="state">
	                <el-switch v-model="updateModel.state" 
				      on-text="启用" off-text="禁用"
				       on-value="000000" off-value="999999" > 
					</el-switch>
         		</el-form-item>

                <el-form-item style="text-align:center">
                    <el-button type="primary" @click="updateSubmit" size="small">确定</el-button>
                    <el-button @click="updateCancel" size="small">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
</div>

<!-- 本页面js -->
<script src="/business/km/KmIntegratetAppCfg/js/KmIntegratetAppCfgUpdate.js"></script>