<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link href="frame/elementui/elementui.css" rel="stylesheet" />
    <link href="common/css/awaken.css" rel="stylesheet" />
    <link href="common/css/login.css" rel="stylesheet" />
</head>
<body>
    <div id="wrap" class="wrap">
        <div class="header">
            <p class="p1">情报信息平台</p>
            <p class="p2">Intelligence Information Platform</p>
            <p class="p3"></p>
        </div>
        <div class="main">
            <div class="login" id="login">
                <div class="face"></div>
                <div class="p1">
                    <input class="txt" id="userName" placeholder="请输入用户名" />
                </div>
                <div class="p2">
                    <input class="txt" id="userPassword" type="password" placeholder="请输入密码" />
                </div>
                <div class="p3" onclick="fnLogin();">登&emsp;录</div>
            </div>
        </div>
        <div class="footer">2017  Version 1.0</div>
    </div>

    <script src="frame/jquery/jquery.min.js"></script>
    <script src="frame/vue/vue.min.js"></script>
    <script src="frame/elementui/elementui.js"></script>
    <script src="frame/awaken/awaken.core.js"></script>
	<!-- 本页面js -->
    <script src="common/js/login.js"></script>
</body>
</html>